@import '../../styles/variables.scss';

.thumbnail {
  display: block;
  margin: 3rem 0 1.1rem 0;
  box-shadow: none;
  transition: text-shadow 0.3s, opacity 0.4s;
  opacity: 0;

  p {
    font-size: 90%;
    line-height: 1.5rem;
  }
}

.thumbnail.visible {
  opacity: 1;
}
