@import '../../styles/variables.scss';

.form {
  display: flex;
  align-items: center;
  padding: 4rem;
  margin: 5rem 0;
  background: linear-gradient(
    180deg,
    rgba(212, 72, 219, 0.26) 0%,
    #0092fa50 100%
  );
  border-radius: 20px;
  font-family: Inter, sans-serif;
  height: 250px;

  h3 {
    margin: 0 0 1rem 0;
  }

  p {
    font-size: 0.8rem;
    margin: 0;
  }

  form {
    margin: 0;

    input {
      border: none;
      border-radius: 6px;
      padding: 0.6rem;
      margin: 0.5rem 0;
      &:focus,
      &:active {
        outline: none;
        background: $light-category-border-color;
      }
    }

    button {
      border: none;
      border-radius: 6px;
      padding: 0.7rem;
      font-weight: 600;
      color: #fff;
      background: $navigator-background-color;
      &:hover,
      &:focus {
        cursor: pointer;
        outline: none;
        background: $dark-link-color;
      }
    }

    p {
      font-size: 0.875rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .form {
    padding: 1.2rem;
    h3,
    p {
      padding-right: 0.4rem;
    }
    input {
      width: 100%;
    }
  }
}
