.home-header {
  margin: 0;
  padding: 2rem 0;
  border-bottom: none;
  font-weight: 900;
  font-size: 48px;
  letter-spacing: -2px;
}

.link {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}
